<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    <title>Feicebuque - {% block title %}Bem vindo ao Face!{% endblock %}</title>
    </head>

    <body>
        <div>
            
        </div>

        <hr />

        <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="brand" href="/">Face</a>

                   <div class="nav-collapse collapse">
                       <ul class="nav pull-right">
                           {% if user.is_authenticated %}
                            <li class="navbar-text">Bem Vindo!, {{ user.username }}!</li>
                            <li><a href="/basico/logout">Logout</a></li>
                           {% else %}
                            <li><a href="/basico/registrar/">Registrar</a></li>
                            <li><a href="/basico/login/">Login</a></li>
                           {% endif %}
                       </ul>
                       <ul class="nav">
                           {% if user.is_authenticated %}
<!--                             <li><a href="/sobre/restricted/">Restricted</a></li>
                            <li><a href="/sobre/add_category/">Add Category</a></li> -->
                           {% endif %}
                           <li><a href="/basico/sobre/">Sobre</a></li>
                       </ul>
                   </div>
                   <!--/.nav-collapse -->
               </div>
           </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        {% block lateral %}
                        {% endblock %}
                    </div>
                    <!--/.well -->
                </div>
                <!--/span-->
                <div class="span9">
                    {% block body_block %}
                    {% endblock %}
                </div>
                <!--/span-->
            </div>
             <!--/row-->
        </div>
        <!--/.fluid-container-->

        <hr>
    </body>
    <footer>
    <div class="container">
        <p>&copy; Face 2016</p>
    </div>
</footer>
<script src="{% static 'js/jquery-2.2.0.js' %}"></script>
<script src="{% static '/js/rango-ajax.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script><!-- 
 <script type="text/javascript">
  

</script>
 --></html>
