
{% extends "visual/base.html" %}

{% block body_block %}
<div class='col-sm-6 sm-offset-3'>
<h1>Criar Post</h1>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form.as_p }}
<input type='submit' class='btn btn-default' value='Postar' />
</form>
</div>
{% endblock body_block %}