{% extends "visual/base.html" %}

{%block lateral%}
<li><a href="/basico/criate/">Adicionar Post</a></li>
<li><a href="/basico/usuarios/">Usuarios</a></li>
{%endblock lateral%}

{% block body_block %}


<h1>Usuarios</h1>
<form method='GET' action=''>
</form>

{% for obj in object_list %}
    <li><a href='/basico/users/{{obj.user.id}}'> {{ obj.user }}</a></li>
{% empty %}
    <li>Ainda não temos usuarios</li>
{% endfor %}

<hr/>
{% endblock body_block %}
