
{% extends "visual/base.html" %}

{%block lateral%}
<li><a href="/basico/usuarios/">Usuarios</a></li>
{%endblock lateral%}

{% block body_block %}


<h1>Postagens</h1>
<form method='GET' action=''>
</form>
{% for obj in object_list %}

    <div class="thumbnail">
        {% if obj.imagem %}
            </br>
            <div id="titulo">
                {{obj.titulo}}
            </div>
            </br>
            <img src='{{ obj.imagem.url }}' height='1000' width='1000' class='img-responsive' />
            <br/>
            <div id="texto">
                {{obj.conteudo|linebreaks|truncatechars:300}}
            </div>
        {% else %}
            </br>
            <div id="titulo">
                {{obj.titulo}}
            </div>
            </br>
            <div id="texto">
                {{obj.conteudo|linebreaks|truncatechars:300}}
            </div>
        {%endif%}
        <div id='botoes'>
            <a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Visualizar</a>
        </div>
    <hr/>
    </div>

{% endfor %}
{% endblock body_block %}